<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Secured App</title>
</head>
<body>
	<h2>Spring Secured App</h2>
	<p>
		App Content....at uri <span th:text="${uri}" />
	</p>
	<p>
		User: <span th:text="${user}" />
	</p>
	<p>
		Roles: <span th:text="${roles}" />
	</p>
	<br />
	<form action="/logout" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" /> <input type="submit" value="Logout" />
	</form>
</body>
</html>